img{
    max-width: 300px;
    max-height: 250px;
}



.group img{
    max-width: 300px;
    max-height: 300px;
}

.body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 250px;
    padding-bottom: 80px;
    background-color: #152937;
    color: #f9faf8;
}

ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.middle-top{
    display: flex;
    gap: 100px;
    color:white;
    background-color: #152937;
    justify-content: space-between;
    padding: 40px 250px;
}

.middle-top-text{
    display: flex;
    flex-direction: column;
}

#maintext{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#subtext{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    width: 80px;
    height: 25px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
}

#bottombutton{
    border: white 2px solid;
}

a{
    text-decoration: none;
    color: #f9faf8;
}


.images{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.allimages{
    display: flex;
    justify-content: center;
    gap: 50px
}

.group img{
    max-width: 150px;
    border-radius: 10%;
}

.group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    align-items: center;
}

.randominfo{
    display: flex;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
    padding: 40px;
}

.quotediv{
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    background-color: #e5e7eb;
}

.quote{
    font-size: 30px;
    color: #1f2937;
    
}

.subquote{
    display: flex;
    color: #1f2937;
    justify-content: flex-end;
    font-weight: 900;
}

.cta{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #3882F6;
    margin: 40px 200px;
    padding: 35px;
    border-radius: 10px;
    align-items: center;
}

.ctatext{
    color: white;;
}

.ctatop{
    font-weight: bold;
    font-size: 20px;
}